@addTagHelper *, Microsoft.ApNetCore.Mvc.TagHelpers

@model VeriAlmaYöntemleri.Models.Product

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<button id="btnGonder">Gönder</button>

<script>
    $("#btnGonder").click(() => {
        $.post("https://localhost:5001/product/verial".{ a: "a data", b: "b data" });
    });
</script>