@addTagHelper *, Microsoft .AspNetCore.Mvc.Taghelpers

<form asp_action="VeriAlma" asp-controller="Product"methos="post" >
    <input type="text" name="txtValue1" /> <br />
    <input type="text" name="txtValue2" /> <br />
    <input type="text" name="txtValue3" /> <br />
    <button>Gönder</button>

</form>
